<html>
  
  <body >
    
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Digital Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink ="/login">Reader Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink ="/readerhome">Reader Home</a>
            </li>
            
            <li class="nav-item ">
              <a class="nav-link " routerLink ="/authorlogin" >
            Author Login
              </a>
              <li class="nav-item">
                <a class="nav-link" routerLink ="/createbook">Author  Home</a>
              </li>
   
          </ul>
        </div>
      </nav>
      
    <div id="digitalBooksContainer">
      <h3>New Books available</h3>
      <div class="row" >
          <p>{{nobookFoundMessage}}</p>
          <div *ngFor="let book of Books">
            <div class="column card" >
                <div class="column1" style="background-color:rgb(7, 6, 19)">
                    {{book.title}}<br/><span style="font-size: 20px">{{book.category}}</span>
                    <br/><span style="font-size: 20px">{{book.publisher}}</span>
                </div>
                <h4>{{book.title}}</h4>
                Author:{{book.author}}<br/>
                Chapeters : {{book.chapters}}<br/>
                publisher:{{book.publisher}}<br/>
               
            </div> 
          </div>
      </div>
    </div>

    

<!-- <app-login></app-login>
<app-signup> </app-signup> -->

<router-outlet></router-outlet>
