
  <h2>Welcome Author </h2>

  
      <!-- <div *ngFor="let book of Books">
      <div class="column" >
        <img src="/assets/book.jpg"  width="150" height="150">
        <div style="text-align: center;font-size: small;">
        <h3 style="font-weight:bold;text-decoration:underline;text-align: center;font-size: small;">{{book.title}}</h3>
          <span style="color:#163f68;">By  {{book.author}}</span>
        </div>
        <button  class="button btn btn-secondary" (click)="buyBook(book)">Buy Now @Rs.{{book.price}}</button>
      </div> 
    </div> -->
  

  
 
  
